---
import "../../styles/global.css";
import Head from "../../components/Head.astro";
import Footer from "./Footer.astro";
import Menu from "../../components/pageMenu.astro";
const { title } = Astro.props;
---

<html lang="en">
  <Head title={title} />
  <body>
    <Menu />
    <div class="overlay first"></div>
    <div class="overlay second"></div>
    <div class="overlay third"></div>
    <slot />
    <Footer />
    <script src="../../scripts/index.js"></script>
  </body>
</html>
