---

---

<section id="testimonials">
  <div class="clouds"></div>
  <div class="container">
    <h5>testimonials</h5>
    <h3>What Our Client’s Say</h3>

    <div class="swiper-container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #testimonials {
    background-color: #f9f8ff;
    position: relative;

    .clouds {
      background-image: url("./images/clouds.png");
      position: absolute;
      width: 100%;
      height: 200px;
      background-repeat: repeat;
      top: 0;
      left: 0;
      background-position: 0 0;
      background-size: auto 100%;
      animation: animatedBg 300s linear infinite;
    }
  }

  @keyframes animatedBg {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -10000px 0;
    }
  }
  .container {
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;

    h5 {
      text-transform: uppercase;
    }

    h3 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .swiper {
    width: 600px;
    height: 300px;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  // import Swiper and modules styles
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  const swiper = new Swiper(".swiper", {
    // Optional parameters
    direction: "horizontal",
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });
</script>
