---
import Hero from "./homepage/Hero.astro";
import "../styles/global.css";
import Head from "../components/Head.astro";
import Footer from "./Layouts/Footer.astro";
import Homepage from "./homepage/Homepage.astro";
import Menu from "../components/Menu.astro";
---

<html lang="en">
  <Head title="Home" />
  <Menu />
  <body>
    <!-- <div class="overlay first"></div>
    <div class="overlay second"></div>
    <div class="overlay third"></div> -->
    <Homepage />
    <Footer />
    <!-- <script src="../scripts/index.js"></script> -->
  </body>
</html>
