---
const { title } = Astro.props;
---

<div class="container header-container">
  <h1>{title}</h1>
</div>

<style>
  .container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 980px) {
      min-height: 30vh;
    }

    @media (max-width: 500px) {
      min-height: 25vh;
    }

    h1 {
      font-size: clamp(2em, 5vw, 4em);
      font-weight: bold;
      color: var(--green);
    }
  }
</style>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap
    .timeline({
      scrollTrigger: {
        trigger: ".header-container",
        start: "top 20%",
      },
      delay: 1,
    })
    .fromTo(
      ".header-container h1",
      { y: -10, opacity: 0 },
      { y: 0, opacity: 1 }
    );
</script>
