---
const { title } = Astro.props;

async function fetchFromUnsplash() {
  const accessKey = "Ux2bTpteNJ0hfZxCQ54t6GFj2flUd0LdEo7d78TbCa8";
  const url = `https://api.unsplash.com/photos/random?query=landscape&orientation=landscape&client_id=${accessKey}&count=1`;

  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return await response.json();
  } catch (error) {
    console.error("Error fetching data from Unsplash: ", error);
    return null; // Or handle the error as needed
  }
}

const photos = await fetchFromUnsplash();
const Bg = "url(" + photos[0].urls.full + ")";
---

<section>
  <div class="container header-container">
    <h1>{title}</h1>
  </div>
  <div class="overlay"></div>
</section>

<style define:vars={{ Bg }}>
  section {
    background-image: var(--Bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(225, 225, 225, 0.75);
    top: 0;
    z-index: 1;
  }
  .container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 980px) {
      min-height: 30vh;
    }

    @media (max-width: 500px) {
      min-height: 25vh;
      padding-top: 3rem;
    }

    h1 {
      font-size: clamp(2em, 5vw, 4em);
      font-weight: bold;
      color: var(--green);
    }
  }
</style>
