---
const { title } = Astro.props;
import faviconSvg from "../img/favicon.svg";
---

<head>
  <title>{title} | Fishing charter marketing</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Explore the thrill of the open sea with our premier fishing charters! Expert captains, top-notch gear, and unforgettable catches await you. Book now!"
  />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://metatags.io/" />
  <meta property="og:title" content="Home - Fishing as a business" />
  <meta
    property="og:description"
    content="Explore the thrill of the open sea with our premier fishing charters! Expert captains, top-notch gear, and unforgettable catches await you. Book now!"
  />
  <meta
    property="og:image"
    content="https://metatags.io/images/meta-tags.png"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://metatags.io/" />
  <meta property="twitter:title" content="Home - Fishing as a business" />
  <meta
    property="twitter:description"
    content="Explore the thrill of the open sea with our premier fishing charters! Expert captains, top-notch gear, and unforgettable catches await you. Book now!"
  />
  <meta
    property="twitter:image"
    content="https://metatags.io/images/meta-tags.png"
  />

  <!-- Meta Tags Generated with https://metatags.io -->
  <meta name="keywords" content="fishing, charters, marketing, ..." />
  <meta name="author" content="Jevan" />

  <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4B82VE672"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-D4B82VE672");
  </script>
</head>
