---
import Captain from "./img/captain.webp";
import Charter from "./img/charter.webp";

import { Image, Picture } from "astro:assets";
import Button from "../../components/Button.astro";
---

<section>
  <div class="container fishing-guides">
    <div class="boats-img img-container">
      <Picture
        src={Captain}
        alt="captain"
        formats={["avif", "webp"]}
        id="captain"
      />

      <Picture
        src={Charter}
        alt="charter"
        formats={["avif", "webp"]}
        id="boat"
      />
    </div>
    <div class="content-container">
      <h3>Fishing Guides, Lodges & Outfitters Get More Bookings!</h3>
      <p>
        By implementing our simple mobile marketing systems and technology in
        their businesses. Once in place it then runs on autopilot throughout the
        year
      </p>
      <Button link="#" title="discover now" />
    </div>
  </div>
</section>

<style>
  section {
    background: linear-gradient(135deg, var(--blue), var(--green));
    position: relative;
    overflow: hidden;

    .container {
      padding-top: 5%;
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4em;
      position: relative;

      @media (max-width: 767px) {
        padding-top: 15%;
        padding-bottom: 15%;
      }

      @media (max-width: 530px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .img-container {
        position: relative;
        min-height: 400px;

        @media (max-width: 630px) {
          min-height: 300px;
        }

        @media (max-width: 530px) {
          min-height: 400px;
        }

        picture {
          width: 350px;
          height: 350px;
          overflow: hidden;

          img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }

          &:first-child {
            left: 0;
            top: 0;
            position: absolute;
          }
          &:last-child {
            right: 0;
            bottom: 0;
            position: absolute;
          }
          @media (max-width: 500px) {
            position: relative;
            height: 300px;
            width: 300px;
            display: block;
          }
        }
      }

      .content-container {
        color: #fff;
        h3 {
          font-size: clamp(1.4em, 3vw, 2em);
          font-weight: bold;
        }

        p {
          font-size: 16px;
          margin-top: 2em;
        }

        a {
          margin-top: 2em;
        }
      }
    }
  }
</style>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import { Power3 } from "gsap";
  gsap.registerPlugin(ScrollTrigger);

  let tl = gsap.timeline({ delay: 0.8 });

  const firstImg = document.querySelector(".boats-img");
  const firstChild = firstImg?.firstElementChild;
  const lastChild = firstImg?.lastElementChild;

  if (
    firstChild !== null &&
    firstChild !== undefined &&
    lastChild !== null &&
    lastChild !== undefined
  ) {
    gsap
      .timeline({
        scrollTrigger: {
          trigger: ".fishing-guides",
          start: "top center",
        },
        delay: 0.8,
      })
      .from(firstChild, 1.2, { y: 1280, ease: Power3.easeInOut }, "Start")
      .from(
        firstChild.lastElementChild,
        2,
        { scale: 1.6, ease: Power3.easeInOut },
        0.2
      )
      .from(lastChild, 1.4, { y: 1280, ease: Power3.easeInOut }, 0.2)
      .from(
        lastChild.lastElementChild,
        2,
        { scale: 1.6, ease: Power3.easeInOut },
        0.2
      );
    // .fromTo(
    //   ".fishing-guides picture",
    //   2,
    //   { y: "100%", opacity: 0, overflow: "hidden" },
    //   { y: 0, opacity: 1, stagger: 0.6 },
    //   0.2
    // )
    // .fromTo(
    //   ".fishing-guides picture img",
    //   2,
    //   { scale: 1.4 },
    //   { scale: 1, ease: "power2.inOut" },
    //   0.4
    // );
  }
  gsap
    .timeline({
      scrollTrigger: {
        trigger: ".fishing-guides",
        start: "top center",
      },
      delay: 1.2,
    })
    .fromTo(
      ".fishing-guides .content-container h3",
      { y: -10, opacity: 0 },
      { y: 0, opacity: 1 }
    )
    .fromTo(
      ".fishing-guides .content-container p",
      { y: -10, opacity: 0 },
      { y: 0, opacity: 1 }
    )
    .fromTo(
      ".fishing-guides .content-container a",
      { y: -10, opacity: 0 },
      { y: 0, opacity: 1 }
    );
</script>
